<%- contentFor('meta') %>

<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/posts/infinity-scroll.js" defer></script>
<script src="/js/posts/index-control.js" defer></script>
<%- contentFor('body') %>
<div id="posts-index" class="posts-index">
  <h1>World</h1>
  <!-- later I will add ranking system -->

  <br>

  <!-- Loader -->
  <div class="loader d-none" id="loader">
    <img src="/img/loader.svg" alt="Loading">
  </div>

  <div class="posts-container" id="posts-container">
    <div class="offset-count d-none" data-offset="5"></div>

    <% posts.forEach(post => { %>
      <div class="individual-post mb-5">
        <div class="my-1">
          <h1 class='text-center'><%= post.title %></h1>
          <p>
            <%= `${post.content.substring(0, 500)}... ` %>
            <a class="show-btn font-weight-bold" data-url="/api/posts/show/<%= post.id %>" data-method="GET">Read More</a>
          </p>
        </div>
      </div>
    <% }) %>
  </div>
</div>
