<%- contentFor('meta') %>

<%- contentFor('styles') %>

<%- contentFor('scripts') %>
<script src="/js/infinity-scroll.js" defer></script>

<%- contentFor('body') %>
  <h1>World</h1>
<!-- later I will add ranking system -->
  <br>
  <!-- Loader -->
  <div class="loader" id="loader" hidden>
      <img src="/img/loader.svg" alt="Loading">
  </div>

  <div class="posts-container" id="posts-container">
    <% posts.forEach(post => { %>
      <div class="individual-post">
        <h1><%= post.title %></h1>
        <p>
          <%= `${post.content.substring(0, 500)}... ` %>
          <a href="/onePost/<%=post.title%>">Read More</a>
        </p>
      </div>
      <% }); %>
  </div>
