<div class="modal-header">
  <h5 class="modal-title">
    <span>
      <img
        id="profile-avatar-preview"
        class="<%= post.User.avatar ? 'rounded me-2' : 'd-none' %>"
        src="<%= post.User.avatar %>"
        alt="Avatar"
        style="width: 50px; height: 50px;"
      >
      <%= `${post.User.firstName} ${post.User.lastName}  wrote` %>
    </span>
  </h5>

  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
  <div class="container">
    <!-- post contents -->
    <h1 class="mb-3 text-center"><%= post.title %></h1>
    <p class="mb-3"><%= post.content%></p>

    <!-- comment input -->
    <form id="comment-form" novalidate>

      <div class="form-floating">
        <textarea class="form-control"
        placeholder="Leave a comment here"
        id="comment"
        name="content"
        style="height: 100px"
        type="text"
        data-error-ref="content"
        required
        ></textarea>
        <label for="comment">Comments</label>
        <div class="invalid-feedback"></div>
      </div>
    </form>

    <button type="button" class="reply-btn btn btn-primary btn-lg mt-3" data-method="POST" data-url="/api/posts/<%= post.id %>/reply">Reply</button>
    <!-- comments exhibition -->
    <ul id="comment-list" class="list-group">
    <% if (post.Comments.length > 0) { %>
        <% post.Comments.forEach(function(item) { %>
          <li class="list-group-item" id="<%= item.id %> " data-ParentId="<%= item.id %> ">

            <!-- inside 1st-layer-comment, there are contents, first-layer-reply-btn and 3nd-layer -->
            <div class="each-comment">
              <div>
                <span>
                  <img
                    id="profile-avatar-preview"
                    class="<%= item.user.avatar ? 'rounded me-2' : 'd-none' %>"
                    src="<%= item.user.avatar %>"
                    alt="Avatar"
                    style="width: 30px; height: 30px;"
                  >
                </span>
                <p class="currentComment-name">
                  <%= `${item.user.firstName} ${item.user.lastName} : ` %>
                </p>
                <div class="each-comment-content">
                  <p>
                    <%= item.content %>
                  </p>
                  <a class="first-layer-reply-btn" data-url="/nth-layer-comment/1st-layer-comment/textarea/<%= item.id %> " data-method="POST">reply</a>
                </div>
              </div>

            </div>
          </li>

        <% }) %>
        <% } else { %>
        </ul>
      <div class="no-comment">No Comment</div>
    <% } %>
  </div>
</div>
