<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>blogIt</title>
  <%- meta %>

  <link rel="stylesheet" href="/scss/styles.scss">
  <%- styles %>

  <script src="https://kit.fontawesome.com/34e4000c71.js" crossorigin="anonymous"></script>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
  <script src="/axios/axios.js"></script>
  <%- scripts %>
</head>
<body>
  <%- include("_partials/navbar") %>
  <%- body %>


  <div class="footer-padding"></div>
    <div class="footer">
      <p>Copyright - Caveman KT - 2021</p>
    </div>
  </div>

</body>
</html>
