<script>
  $(document).ready(function() {
    $navbar = $('#navbar')
    $composeModal = $('#compose-modal')
    $myProfileModal = $('#my-profile-modal')

    $navbar.on('click', '#signup-btn', function(e) {
      e.preventDefault()
      $('#signup-modal').modal('show')
    })

    $navbar.on('click', '#login-btn', function(e) {
      e.preventDefault()
      $('#login-modal').modal('show')
    })


    $navbar.on('click', '#logout-btn', function(e) {
      e.preventDefault()

      axios({
        method: 'DELETE',
        url: '/api/auth/logout'
      }).then(function() {
        window.location.href = '/'
      })
    })

    const setModal = (html) => {
      const $modalContent = $composeModal.find('.modal-content')
      $composeModal.modal('show')
      $modalContent.html(html)
    }
    const setLoadingModal = () => {
      setModal(
        `
          <div class="modal-header">
            <h5 class="modal-title">Loading</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <i class="fas fa-spinner fa-spin"></i>
            </div>
          </div>
        `
      )
    }

    const setMyProfileModal = (html) => {
      const $modalContentMyProfile = $myProfileModal.find('.modal-content')

      $myProfileModal.modal('show')
      $modalContentMyProfile.html(html)
    }

    const setLoadingModalMyProfile = () => {
      setMyProfileModal(
        `
          <div class="modal-header">
            <h5 class="modal-title">Loading</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <i class="fas fa-spinner fa-spin"></i>
            </div>
          </div>
        `
      )
    }



//  tmr you need to modify this part..... and then go to test the outcome
    const errorHandler = function(err, $elem) {
      switch(err.response.status) {
        case 406: {
          $elem.attr('disabled', false)

          const { response: { data: { errors } }} = err
          console.log('406');
          console.log(errors);

          $('#compose-modal').find('.invalid-feedback').empty()
          $('#compose-modal').find('.is-invalid').removeClass('is-invalid')

          errors.forEach(function(error) {
            const { param: fieldName, msg } = error
            console.log(fieldName, msg);
            const $input = $('#compose-modal').find(`[data-error-ref="${fieldName}"]`)
            const $invalidFeedback = $input.siblings('.invalid-feedback')

            $input.addClass('is-invalid')
            $invalidFeedback.text(msg)
          })
          break
        }
        case 401: {
          console.log('401');
          alert(err.response.data.message)
          break
        }
        default: {
          console.log(err)
        }
      }
    }


    const errorHandlerMyProfile = function(err, $elem) {
      switch(err.response.status) {
        case 406: {
          $elem.attr('disabled', false)

          const { response: { data: { errors } }} = err
          console.log('406', err);
          $('#my-profile-modal').find('.invalid-feedback').empty()
          $('#my-profile-modal').find('.is-invalid').removeClass('is-invalid')

          errors.forEach(function(error) {
            const { param: fieldName, msg } = error
            const $input = $('#my-profile-modal').find(`[data-error-ref="${fieldName}"]`)
            const $invalidFeedback = $input.siblings('.invalid-feedback')

            $input.addClass('is-invalid')
            $invalidFeedback.text(msg)
          })
          break
        }
        case 401: {
          alert(err.response.data.message)
          break
        }
        default: {
          console.log(err)
        }
      }
    }

    $navbar.on('click', '#compose-btn', function(e) {
      e.preventDefault()
      $composeModal.modal('show')

      setLoadingModal()

      // GET a new form
      axios({
        method: 'GET',
        url: '/api/my-posts/new'
      }).then((resp) => {
        setModal(resp.data)
      })
    })




    $composeModal.on('click', '#compose-form-submit', function(e) {
      e.preventDefault()
      const $elem = $(e.target)
      const formData = new FormData($('#compose-modal form')[0])

      $elem.attr('disabled', true)

      axios({
        method: 'POST',
        url: '/api/my-posts',
        data: formData
      }).then(function(resp) {
        $composeModal.find('#compose-success-message').html('Submitted!')
        window.location.href = '/api/my-posts'
      }).catch((err) => errorHandler(err, $elem)).finally(() => {
        $elem.attr('disabled', false)

      })
    })

    $navbar.on('click', '#my-profile-btn', (e) => {
      e.preventDefault()
      setLoadingModalMyProfile()
      axios({
        method: 'GET',
        url: '/api/my/profile'
      }).then((res) => {
        setMyProfileModal(res.data)
      })
    })


    $myProfileModal.on('click', '#my-profile-form-submit', function(e) {
      e.preventDefault()
      const $elem = $(e.target)
      const formData = new FormData($('#my-profile-modal form')[0])
      $elem.attr('disabled', true)

      axios({
        method: 'PUT',
        url: '/api/my/profile',
        data: formData
      }).then(function(resp) {
        $myProfileModal.find('#my-profile-success-message').html('Saved!')
        window.location.href = '/api/my-posts'
      }).catch((err) => errorHandlerMyProfile(err, $elem)).finally(() => {
        $elem.attr('disabled', false)
        console.log('disabled the btn');
      })
    })
  })



</script>

<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-3" href="/">Daily Journal</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto me-3">
        <li class="nav-item">
          <a class="nav-link" href="/">Browse All</a>
        </li>
      <!-- currentUser -->
      <% if (currentUser) { %>
        <li class="nav-item">
          <a class="nav-link" href="/api/my-posts">My Page</a>
        </li>
        <li class="nav-item">
          <a id="compose-btn" class="nav-link">Compose</a>
        </li>
        <li class="nav-item">
          <a id="my-profile-btn" class="nav-link">My Profile</a>
        </li>
        <li class="nav-item">
          <a id="logout-btn" class="nav-link">Logout</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a id="signup-btn" class="nav-link">Signup</a>
        </li>
        <li class="nav-item">
          <a id="login-btn" class="nav-link">Login</a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>

<%- include('./signup-modal') %>
<%- include('./login-modal') %>
<%- include('./compose-modal') %>
<%- include('./my-profile-modal') %>
<%- include('./show-modal') %>
<%- include('./edit-modal') %>
